$color-primary : #0D5093;
$color-button : #8fbe84;
$color-fonts : #fff;
$color-primary-light : #8fbe84;
$color-primary-dark : #211253;
$color-bg:   #4b6735;  
$color-placeholder:   #000;  

$color-type-light : #ffffff;
$color-header: #000;


