@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import "../../../Sass/_querys";

.SignIn {
  display: flex;
  flex-direction: column;
}

#root > main > a {
  color:black;
}

.alertMessage{

  margin-top: 10%;
  font-weight: bold;
  color: red;
  font-size: 1rem;
}
.logInForm{
  border-radius: 30px 30px  0px 0px;
  display: flex;
  flex-direction: column;
 
  padding-top: 5%;
  background-color: white;
  margin-top: -25%;
  width: 100%;
  height: 60%;
  >form > label > h2 {
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 8%;
    font-weight: 600;
   
  }
  >form > label >  input {
    padding-left: 10%;
    border-radius: 20px;
    height: 30px;
    
    border: solid 1px  #a5a5a5;
    color: #a5a5a5;
    width: 70%;
    margin-left: 8%;
  
   
  }
  >form > label >  input:hover {
   
    border: solid 1px  #a5a5a5;
 
   
  
   
  }

   
  > form > h5{
    text-align: center;
    color: #1982EB;
    font-family: 'Montserrat', sans-serif;
    margin-top: -3%;
    margin-bottom: 10%;
    

  }
  > form > button{

    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    font-weight: 600;
    
  }
  
}

 
.icons{
  width: 4%;
  margin-left: 12%;
  margin-top: 4%;
  position: absolute;

  
}

 
 
 
::placeholder {


  color: red;
}