.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 30px;
  max-height: 55px;
  
  background: rgb(0, 0, 0);
}

h1 {

  color: white;
}

header > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

      